@model WebApplication1.Models.Usuario

@using (Html.BeginForm())
{
    <div class="container" >

        <div class="form-group">

            <label> UserName</label>

            <input class="form-control" name="Username" placeholder="Enter name"/>

        </div>

        <div class="form-group">
            <label>Passaword</label>
            <input class="form-control" name="Passaword" placeholder="Enter password" />
        </div>

        <div class="button">
            <button> submit </button>
        </div>

    </div>
}



